@media only screen and (min-width: 420px) {
    *{
        margin: 0;
        padding: 0;
    }
    nav{
        background-color: #333333;
        color: white;
        height: 6vh;
    }
    ul{
        list-style-type: none;
        margin-left: 20px;
    }
    li{
        display: inline;
        margin-right: 20px;
        line-height: 60px;
    }
    header{
        position: relative;
        background-color: #e8e8e8;
        width: 100%;
        height: 25vh;
    }
    .img1{
        position: relative;
        width: 30vw;
        top: 15px;
        left: 20px;
        box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.151);
    }
    .img2{
        width: 30vw;
        bottom: 20px;
        left: 100px;
        position: relative;
        box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.151);
    }
    h2{
        margin-bottom: 10px;
        width:35vw;
        text-align: center;
        font-size: 0.8rem;
    }
    .paragraph{
        position: relative;
        bottom: 130px;
        left: 270px;
        width: 35vw;
        font-size: 0.7rem;
    }
    .continar{
        height: 30vh;
        position: relative;
    }
    .continar1 {
        position: absolute;
        background-color: #7fffd3;
        width: 8vw;
        height: 4vh; 
        top: 50px;
        left: 30px;
        border-left: 3px solid black;
        border-bottom: 3px solid black;
        border-radius: 10px;
    }
    .continar2{
        position: absolute;
        background-color: #8a7eff;
        width: 8vw;
        height: 4vh; 
        top: 100px;
        left: 60px;
        border-left: 3px solid black;
        border-bottom: 3px solid black;
        border-radius: 10px;
    }
    .continar3{
        position: absolute;
        background-color: #ff7f9c;
        width: 8vw;
        height: 4vh;  
        top: 140px;
        left: 100px;
        border-left: 3px solid black;
        border-bottom: 3px solid black;
        border-right: 3px solid black;
        border-radius: 10px;
    }
    .continar4{
        position: absolute;
        background-color: #bdff7f;
        width: 8vw;
        height: 4vh; 
        bottom: 140px;
        left: 140px;
        border-right: 3px solid black;
        border-bottom: 3px solid black;
        border-radius: 10px;
    }
    .continar5{
        position: absolute;
        background-color: #feb97f;
        width: 8vw;
        height: 4vh; 
        bottom: 190px;
        left: 170px;
        border-right: 3px solid black;
        border-bottom: 3px solid black;
        border-radius: 10px;
    }
    .continar6{
        position: absolute;
        background-color: #7fffd3;
        width: 8vw;
        height: 4vh; 
        bottom: 190px;
        left: 220px;
        border-left: 3px solid black;
        border-bottom: 3px solid black;
        border-radius: 10px;
    }
    .continar7{
        position: absolute;
        background-color: #8a7eff;
        width: 8vw;
        height: 4vh; 
        bottom: 140px;
        left: 250px;
        border-left: 3px solid black;
        border-bottom: 3px solid black;
        border-radius: 10px;
    }
    .continar8{
        position: absolute;
        background-color: #ff7f9c;
        width: 8vw;
        height: 4vh; 
        bottom: 100px;
        left: 290px;
        border-left: 3px solid black;
        border-bottom: 3px solid black;
        border-right: 3px solid black;
        border-radius: 10px;
    }
    .continar9{
        position: absolute;
        background-color: #bdff7f;
        width: 8vw;
        height: 4vh; 
        bottom: 140px;
        left: 330px;
        border-right: 3px solid black;
        border-bottom: 3px solid black;
        border-radius: 10px;
    }
    .continar10{
        position: absolute;
        background-color: #feb97f;
        width: 8vw;
        height: 4vh; 
        bottom: 190px;
        left: 360px;
        border-right: 3px solid black;
        border-bottom: 3px solid black;
        border-radius: 10px;
    }
    footer {
        background-color: #333333;
        color: white;
        text-align: center;
        height: 8vh;
    }
} 
@media only screen and (min-width: 992px) {
    *{
        margin: 0;
        padding: 0;
    }
    nav{
        background-color: #333333;
        color: white;
        height: 10vh;
    }
    ul{
        list-style-type: none;
        margin-left: 20px;
    }
    li{
        display: inline;
        margin-right: 20px;
        line-height: 60px;
    }
    header{
        position: relative;
        background-color: #e8e8e8;
        width: 100%;
        height: 60vh;
    }
    .img1{
        position: relative;
        width: 20vw;
        top: 15px;
        left: 150px;
        box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.151);
    }
    .img2{
        width: 20vw;
        bottom: 50px;
        left: 350px;
        position: relative;
        box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.151);
    }
    h2{
        margin-bottom: 10px;
        width:35vw;
        text-align: right;
        font-size: 1.5rem;
    }
    .paragraph{
        position: relative;
        bottom: 250px;
        left: 770px;
        width: 35vw;
        font-size: 1rem;
    }
    .continar{
        height: 75vh;
        position: relative;
    }
    .continar1 {
        position: absolute;
        background-color: #7fffd3;
        width: 8vw;
        height: 16vh;  
        top: 40px;
        left: 70px;
        border-left: 3px solid black;
        border-bottom: 3px solid black;
        border-radius: 10px;
    }
    .continar2{
        position: absolute;
        background-color: #8a7eff;
        width: 8vw;
        height: 16vh; 
        top: 145px;
        left: 180px;
        border-left: 3px solid black;
        border-bottom: 3px solid black;
        border-radius: 10px;
    }
    .continar3{
        position: absolute;
        background-color: #ff7f9c;
        width: 8vw;
        height: 16vh; 
        top: 250px;
        left: 300px;
        border-left: 3px solid black;
        border-bottom: 3px solid black;
        border-right: 3px solid black;
        border-radius: 10px;
    }
    .continar4{
        position: absolute;
        background-color: #bdff7f;
        width: 8vw;
        height: 16vh; 
        bottom: 240px;
        left: 420px;
        border-right: 3px solid black;
        border-bottom: 3px solid black;
        border-radius: 10px;
    }
    .continar5{
        position: absolute;
        background-color: #feb97f;
        width: 8vw;
        height: 16vh;  
        bottom: 340px;
        left: 540px;
        border-right: 3px solid black;
        border-bottom: 3px solid black;
        border-radius: 10px;
    }
    .continar6{
        position: absolute;
        background-color: #7fffd3;
        width: 8vw;
        height: 16vh;  
        bottom: 340px;
        left: 700px;
        border-left: 3px solid black;
        border-bottom: 3px solid black;
        border-radius: 10px;
    }
    .continar7{
        position: absolute;
        background-color: #8a7eff;
        width: 8vw;
        height: 16vh; 
        bottom: 240px;
        left: 820px;
        border-left: 3px solid black;
        border-bottom: 3px solid black;
        border-radius: 10px;
    }
    .continar8{
        position: absolute;
        background-color: #ff7f9c;
        width: 8vw;
        height: 16vh; 
        bottom: 130px;
        left: 940px;
        border-left: 3px solid black;
        border-bottom: 3px solid black;
        border-right: 3px solid black;
        border-radius: 10px;
    }
    .continar9{
        position: absolute;
        background-color: #bdff7f;
        width: 8vw;
        height: 16vh; 
        bottom: 240px;
        left: 1060px;
        border-right: 3px solid black;
        border-bottom: 3px solid black;
        border-radius: 10px;
    }
    .continar10{
        position: absolute;
        background-color: #feb97f;
        width: 8vw;
        height: 16vh; 
        bottom: 340px;
        left: 1180px;
        border-right: 3px solid black;
        border-bottom: 3px solid black;
        border-radius: 10px;
    }
    footer {
        background-color: #333333;
        color: white;
        text-align: center;
        height: 10vh;
    }
} 


